<!-- side menu -->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-4 sidebar1">
        <div class="logo">
          <img src="/assets/images/name.png" width="100" height="100" class="img-responsive center-block" alt="Logo" />
        </div>
        <br />
        <div class="left-navigation" class="collapse navbar-collapse">
          <ul class="list">
            <h5><strong>WHEREABOUTS</strong></h5>
            <li [routerLink]="['/nurse']">Dashboard</li>
            <li [routerLink]="['/nurse']">Patient</li>
            <li [routerLink]="['/bed-list']">Manage Bed</li>
            <li [routerLink] ="['/bedallotment']">Bed Allotment</li>
            <li [routerLink] ="['/blood-donor']">Blood Bank</li>
            <li>Profile</li>
          </ul>
        </div>
      </div>

      <div class="col-md-9 col-sm-8 main-content" style="min-width: 1240px;" >
        <div class="row">
          <div class="col-md-12 col-sm-12 clearfix">
            <h2 style="font-weight:200; margin:0px;" style="text-align:center;">
              Hospital Management System
            </h2>
          </div>

          <!-- Raw Links -->
          <div class="col-md-12 col-sm-12 clearfix ">
            <ul class="list-inline links-list pull-left">
              <!-- Language Selector -->
              <li><i class="entypo-right-circled"></i>nurse</li>
            </ul>

            <ul class="list-inline links-list pull-right">
              <li>
                <a [routerLink]="['/users']">
                  <i class="fa fa-globe"></i> &nbsp;Website
                </a>
              </li>

              <li class="sep"></li>
              <li>
                <a href=""> Logout &nbsp;<i class="fa fa-sign-out"></i> </a>
              </li>
            </ul>
          </div>
        </div>
        <hr style="margin-top:0px;" />
        <h3 style="margin:20px 0px; color:#818da1; font-weight:200;" align="left">
          <i class="entypo-right-circled"></i>Blood Donor
        </h3>
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" (click)="addNewBloodDonor()">
          <i class="fa fa-plus"></i>&nbsp;Add Blood Donor</button><br /><br /><br />

        <input placeholder="enter search term here" class="form-control" />
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Age</th>
              <th class="text-center">Gender</th>
              <th class="text-center">Blood Group</th>
              <th class="text-center">Last Donation Date</th>
              <th class="text-center">Action</th>
              <th class="text-center">View</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of blood | paginate: { itemsPerPage: 5, currentPage: p }">
              <td>{{ b.name }}</td>
              <td>{{ b.age }}</td>
              <td>{{ b.gender }}</td>
              <td>{{ b.bloodgroup }}</td>
              <td>{{ b.date }}</td>
              <td>
                <button class="btn btn-info" (click)="editBloodDonor(b)" data-toggle="modal" data-target="#update">
                  <span class="glyphicon glyphicon-edit"></span> Edit</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteBloodDonor(b)">
                  <span class="glyphicon glyphicon-trash" ></span> Delete
                </button>
              </td>
              <td>
                <button>
                  <span class="glyphicon glyphicon-file"></span> PDF
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>



    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Doctor</h4>
            </div>
            <div class="modal-body">

              Name : <input type="text" class="form-control" [(ngModel)]="bloodDonor.name" />
              Email : <input type="text" class="form-control" [(ngModel)]="bloodDonor.email" />
              Address : <input type="textarea" class="form-control" [(ngModel)]="bloodDonor.address" />
              Phone : <input type="text" class="form-control" [(ngModel)]="bloodDonor.phone" />
              Gender:
              <select [(ngModel)]="bloodDonor.gender" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              Age : <input type="text" class="form-control" [(ngModel)]="bloodDonor.age" />
              Blood Group:
              <select  class="form-control" [(ngModel)]="bloodDonor.bloodgroup">
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
              </select>
              Last Donation Date : <input type="date" class="form-control" [(ngModel)]="bloodDonor.date" />


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="saveBloodDonor(bloodDonor)" data-dismiss="modal">Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



            <!-- edit -->
            <div id="update" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Details</h4>
                  </div>
                  <div class="modal-body">

                                Id: <input type="text" class="form-control" [disabled]=true [(ngModel)]="bloodDonor.donorId" />
                                Name : <input type="text" class="form-control" [(ngModel)]="bloodDonor.name" />
                                Email : <input type="text" class="form-control" [(ngModel)]="bloodDonor.email" />
                                Address : <input type="textarea" class="form-control" [(ngModel)]="bloodDonor.address" />
                                Phone : <input type="text" class="form-control" [(ngModel)]="bloodDonor.phone" />
                                Gender:
                                <select [(ngModel)]="bloodDonor.gender" class="form-control">
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                </select>
                                Age : <input type="text" class="form-control" [(ngModel)]="bloodDonor.age" />
                                Blood Group:
                                <select  class="form-control" [(ngModel)]="bloodDonor.bloodgroup">
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                </select>
                                Last Donation Date : <input type="date" class="form-control" [(ngModel)]="bloodDonor.date" />

                            </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="saveBloodDonor(bloodDonor)"
                      data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>



</div>
</div>
