.sidebar1 {
  background: #F17153;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(34, 33, 33), #F58D63, #f1ab53);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2e2d3b, #2e2d3b, #2e2d3b);
  /* Standard syntax */
  padding: 118px;
  min-height: 100%;

}
.logo {
  max-height: 130px;
}
.logo>img {
  margin-top: 30px;
  padding: 3px;
  border: 3px solid white;
  border-radius: 100%;
}
.list {
  color: #fff;
  list-style: none;
  padding-left: 0px;
}
.list::first-line {
  color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
  padding: 5px 0px 5px 40px;
}
.list>li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 5px solid white;
  color: white;
  font-weight: bolder;
  padding-left: 70px;
}.main-content{
text-align:center;
}



button,
input,
optgroup,
select,
textarea {
color: inherit;
font: inherit;
margin: 0;
}


.col-sm-4, .col-lg-12 {
position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;
}



body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #f2f4f8 !important;
}

.panel-primary {
  border: 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.11);
}

.modal-header {
  border: none;
}

.btn {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.btn-primary {
  color: #fff !important;
  background-color: #26A69A !important;
  border-color: #26A69A !important;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #26A69A !important;
  border-color: #26A69A !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #26A69A !important;
  border-color: #26A69A !important;
}

.btn-success {
  color: #fff !important;
  background-color: #66BB6A !important;
  border-color: #66BB6A !important;
}
.btn-success:hover {
  color: #fff !important;
  background-color: #66BB6A !important;
  border-color: #66BB6A !important;
}

.btn-success.disabled,
.btn-success:disabled {
  background-color: #66BB6A !important;
  border-color: #66BB6A !important;
}

.btn-info {
  color: #fff !important;
  background-color: #42A5F5 !important;
  border-color: #42A5F5 !important;
}
.btn-info:hover {
  color: #fff !important;
  background-color: #42A5F5 !important;
  border-color: #42A5F5 !important;
}

.btn-info.disabled,
.btn-info:disabled {
  background-color: #42A5F5 !important;
  border-color: #42A5F5 !important;
}

.btn-danger {
  color: #fff !important;
  background-color: #ef5350 !important;
  border-color: #ef5350 !important;
}
.btn-danger:hover {
  color: #fff !important;
  background-color: #ef5350 !important;
  border-color: #ef5350 !important;
}

.btn-danger.disabled,
.btn-danger:disabled {
  background-color: #ef5350 !important;
  border-color: #ef5350 !important;
}

.btn-default {
  color: #fff !important;
  background-color: #757575 !important;
  border-color: #757575 !important;
}
.btn-default:hover {
  color: #fff !important;
  background-color: #757575 !important;
  border-color: #757575 !important;
}

.btn-default.disabled,
.btn-default:disabled {
  background-color: #757575 !important;
  border-color: #757575 !important;
}

.btn:focus, .btn:active:focus {
  outline: none;
}

.page-container .sidebar-menu #main-menu li {
  border: 0;
}
.page-container .sidebar-menu #main-menu li a {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #868aa8 !important;
}
.page-container .sidebar-menu #main-menu li a:hover,
.page-container .sidebar-menu #main-menu li.active a{
  background-color: #292b3a !important;
}
.page-container .sidebar-menu #main-menu li.has-sub ul,
.page-container .sidebar-menu #main-menu li.has-sub ul a{
  background-color: #292b3a !important;
}
.page-container .sidebar-menu #main-menu li.has-sub ul li.active a,
.page-container .sidebar-menu #main-menu li.has-sub ul a:hover{
  background-color: #262935 !important;
}
.page-container .sidebar-menu #main-menu li.has-sub ul,
.page-container .sidebar-menu #main-menu li.has-sub ul li{
  border: 0;
}
.page-container .sidebar-menu #main-menu li a i {
  color: #525672;
  margin-right: 12px;
}

body .page-container .sidebar-menu {
  background-color: #2c2e3e !important;
}
.page-container .sidebar-menu .sidebar-user-info{
  border-top-color: #323443;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter{
  border: 0;
}
.dataTables_wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.11);
}
.dataTables_wrapper table + .row{
  margin-bottom: 0;
}

.panel-primary > .panel-heading {
  border: 0;
}

.table-bordered {
  border: 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.11);
}

.label-danger {
  background-color: #ef5350 !important;
}
.label-success {
  background-color: #66BB6A !important;
}
.form-control{
  -webkit-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0
}
.panel {
  margin-bottom: 17px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-left: 15px;
  padding-right: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 2px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 2px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 2px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 2px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #ebebeb;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
.panel-group {
  margin-bottom: 17px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 3px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #949494;
}
.panel-default > .panel-heading {
  color: #373e4a;
  background-color: #949494;
  border-color: #949494;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #949494;
}
.panel-default > .panel-heading .badge {
  color: #949494;
  background-color: #373e4a;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #949494;
}
.panel-primary {
  border-color: #e0dcdc;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #fffdfd;
  border-color: #e0dcdc;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fffdfd;
}
.panel-primary > .panel-heading .badge {
  color: #949494;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #e0dcdc;
}
.panel-success {
  border-color: #b4e8a8;
}
.panel-success > .panel-heading {
  color: #045702;
  background-color: #bdedbc;
  border-color: #b4e8a8;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #b4e8a8;
}
.panel-success > .panel-heading .badge {
  color: #bdedbc;
  background-color: #045702;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #b4e8a8;
}
.panel-info {
  border-color: #a6e8f3;
}
.panel-info > .panel-heading {
  color: #2c7ea1;
  background-color: #c5e8f7;
  border-color: #a6e8f3;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #a6e8f3;
}
.panel-info > .panel-heading .badge {
  color: #c5e8f7;
  background-color: #2c7ea1;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #a6e8f3;
}
.panel-warning {
  border-color: #ffd78a;
}
.panel-warning > .panel-heading {
  color: #574802;
  background-color: #ffefa4;
  border-color: #ffd78a;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ffd78a;
}
.panel-warning > .panel-heading .badge {
  color: #ffefa4;
  background-color: #574802;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ffd78a;
}
.panel-danger {
  border-color: #ffafbd;
}
.panel-danger > .panel-heading {
  color: #ac1818;
  background-color: #ffc9c9;
  border-color: #ffafbd;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ffafbd;
}
.panel-danger > .panel-heading .badge {
  color: #ffc9c9;
  background-color: #ac1818;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ffafbd;
}
h2,
.h2 {
  font-size: 25px;
}
.btn {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.btn-primary {
  color: #fff !important;
  background-color: #26A69A !important;
  border-color: #26A69A !important;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #26A69A !important;
  border-color: #26A69A !important;
}
h2,
.h2 {
  font-size: 25px;
}
footer.main {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ebebeb;
}
footer.main:before,
footer.main:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
footer.main:after {
  clear: both;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.page-container .sidebar-menu .logo-env > div.sidebar-mobile-menu {
  position: relative;
  float: right;
  margin-top:14px;
}
