<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

   <!-- <a [routerLink]="['/hospitals']" class="navbar-brand">Hospital List</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['/users']">Home</a></li>
        <li><a data-toggle="modal" data-target="#myModal" (click)="addNew()">Add Patient</a></li>

</ul>

<ul class="nav navbar-nav navbar-right">
  <li> <a [routerLink]="['/users']" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
</ul>
    </div>
  </div>
</nav>
-->
<!-- side menu -->
<div class="container-fluid">
    <div class="row">
    <div class="col-md-2 col-sm-4 sidebar1">
      <div class="logo">
        <img src="/assets/images/name.png" width="100" height="100" class="img-responsive center-block"
          alt="Logo">
      </div>
      <br>
      <div class="left-navigation" class="collapse navbar-collapse">
        <ul class="list">
            <h5><strong>WHEREABOUTS</strong></h5>
            <li [routerLink]="['/hospital']">Dashboard</li>
            <li [routerLink]="['/doctor-list']"> Doctor</li>
            <li [routerLink]="['/patient-list']">Patient</li>
            <li [routerLink]="['/nurse-list']">Nurse</li>
            <li [routerLink]="['/pharmacist-list']">Pharmacist</li>
            <li [routerLink]="['/laboratorist-list']">Laboratorist</li>
            <li [routerLink]="['/accountant-list']">Accountant</li>
            <li [routerLink]="['/reciptionist-list']">Reciptionist</li>
            <li [routerLink]="['/manageHospital']">Manage Hospital</li>
            <li>Payroll</li>
            <li>Noticeboard</li>
            <li>Contact Emails</li>
            <li [routerLink]="['/adminsPro']">Profile</li>
        </ul>
      </div>
    </div>

    <div class="col-md-9 col-sm-8 main-content" style="min-width: 1240px;" >

        <div class="row">
      <div class="col-md-12 col-sm-12 clearfix">
      <h2 style="font-weight:200; margin:0px;" style="text-align:center;">Hospital Management System</h2>
      </div>

      <!-- Raw Links -->
      <div class="col-md-12 col-sm-12 clearfix ">

      <ul class="list-inline links-list pull-left">
      <!-- Language Selector -->
        <li><i class="entypo-right-circled"></i> admin</li>

      </ul>



      <ul class="list-inline links-list pull-right">

      <li>
        <a [routerLink]="['/users']">
            <i class="fa fa-globe"></i> &nbsp;Website
        </a>
      </li>

      <li class="sep"></li>
      <li>
        <a href="">
            Logout &nbsp;<i class="fa fa-sign-out"></i>
        </a>
      </li>
      </ul>
    </div>
    </div>
      <hr style="margin-top:0px;">
          <h3 style="margin:20px 0px; color:#818da1; font-weight:200;" align="left">
              <i class="entypo-right-circled"></i>Patient
          </h3>
      <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" (click)="addNew()" >
          <i class="fa fa-plus"></i>&nbsp;Add Patient
      </button><br><br><br>


    <input [(ngModel)] = "search"  placeholder="enter search term here"  class="form-control" >
      <table class="table table-striped">

          <thead>
              <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">Disease</th>
                <th class="text-center">Action</th>
                <th class="text-center">View</th>
              </tr>
          </thead>
        <tbody>
          <tr *ngFor="let pt of pnt  | filter : search |paginate: { itemsPerPage: 5, currentPage: p }">
               <td>{{ pt.pid }}</td>
               <td (click)="getPatientByDocotor(pt)">{{ pt.name }}</td>
               <td>{{ pt.email }}</td>
               <td>{{ pt.diseases }}</td>
               <td>
                 <button class="btn btn-info" (click)="editPatient(pt)" data-toggle="modal" data-target="#update">
                      <span class="glyphicon glyphicon-edit"></span> Edit
                 </button>&nbsp;&nbsp;&nbsp;

                 <button class="btn btn-danger" (click)="deletePatient(pt)">
                      <span class="glyphicon glyphicon-trash"></span> Delete
                 </button>
               </td>

               <td>
                 <button (click)="printPdf(pt)">
                       <span class="glyphicon glyphicon-file"></span> PDF
                  </button>
               </td>
            </tr>
        </tbody>
      </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Paitent</h4>
            </div>
            <div class="modal-body">
              Name: <input type="text" class="form-control" [(ngModel)]="patient.name" />
              Gender:
              <select [(ngModel)]="patient.gender" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>

              Email: <input type="text" class="form-control" [(ngModel)]="patient.email" />

              Contact: <input type="text" class="form-control" [(ngModel)]="patient.phone" />

              Address: <input type="" class="form-control" [(ngModel)]="patient.address" />

              Date of Birth: <input type="date" class="form-control" [(ngModel)]="patient.dateOfBirth"/>

              Age: <input type="text" class="form-control" [(ngModel)]="patient.age"/>

              Blood Group:
              <select  class="form-control" [(ngModel)]="patient.bloodGroup">
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
              </select>
              Disease: <input type="text" class="form-control" [(ngModel)]="patient.diseases"/>

              Admit Date: <input type="date" class="form-control" [(ngModel)]="patient.admitDate"/>

              Discharge Date: <input type="date" class="form-control" [(ngModel)]="patient.dischargeDate"/>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="savePatient(patient)"
                data-dismiss="modal">Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>





      <!-- edit -->
      <div id="update" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Details</h4>
              </div>
              <div class="modal-body">

                  Name: <input type="text" class="form-control" [(ngModel)]="patient.name" />
                  Gender:
                  <select [(ngModel)]="patient.gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>

                  Email: <input type="text" class="form-control" [(ngModel)]="patient.email" />

                  Contact: <input type="text" class="form-control" [(ngModel)]="patient.phone" />

                  Address: <input type="" class="form-control" [(ngModel)]="patient.address" />

                  Date of Birth: <input type="date" class="form-control" [(ngModel)]="patient.dateOfBirth"/>

                  Age: <input type="text" class="form-control" [(ngModel)]="patient.age"/>

                  Blood Group:
                  <select  class="form-control" [(ngModel)]="patient.bloodGroup">
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                  </select>
                  Disease: <input type="text" class="form-control" [(ngModel)]="patient.diseases"/>

                  Admit Date: <input type="date" class="form-control" [(ngModel)]="patient.admitDate"/>

                  Discharge Date: <input type="date" class="form-control" [(ngModel)]="patient.dischargeDate"/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="savePatient(patient)"
                    data-dismiss="modal">Update</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>





