.sidebar1 {
  background: #F17153;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(34, 33, 33), #F58D63, #f1ab53);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F17153, #F58D63, #f1ab53);
  /* Standard syntax */
  padding: 110px;
  min-height: 100%;
}
.logo {
  max-height: 130px;
}
.logo>img {
  margin-top: 30px;
  padding: 3px;
  border: 3px solid white;
  border-radius: 100%;
}
.list {
  color: #fff;
  list-style: none;
  padding-left: 0px;
}
.list::first-line {
  color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
  padding: 5px 0px 5px 40px;
}
.list>li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 5px solid white;
  color: white;
  font-weight: bolder;
  padding-left: 35px;
}.main-content{
text-align:center;
}



button,
input,
optgroup,
select,
textarea {
color: inherit;
font: inherit;
margin: 0;
}


.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;
}



.navbar-nav > li > a {
padding-top: 10px;
padding-bottom: 10px;
line-height: 17px;
}

@media (min-width: 768px) {
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}
}

.navbar-inverse {
background-color: #373e4a;
border-color: #454a54;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
color: #fff;
background-color: #21252d;
}


@media (max-width: 767px) {
.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
  border-color: #454a54;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
}


