<!-- side menu -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-4 sidebar1">
      <div class="logo">
        <img src="/assets/images/name.png" width="100" height="100" class="img-responsive center-block" alt="Logo" />
      </div>
      <br />
      <div class="left-navigation" class="collapse navbar-collapse">
        <ul class="list">
          <h5><strong>WHEREABOUTS</strong></h5>
          <li [routerLink]="['/nurse']">Dashboard</li>
          <li [routerLink]="['/nurse']">Patient</li>
          <li [routerLink]="['/bed-list']">Manage Bed</li>
          <li [routerLink] ="['/bedallotment']">Bed Allotment</li>
          <li [routerLink] ="['/blood-donor']">Blood Bank</li>
          <li>Profile</li>
        </ul>
      </div>
    </div>

    <div class="col-md-10 col-sm-8 main-content" style="min-height: 600px;">
      <div class="row">
        <div class="col-md-12 col-sm-12 clearfix">
          <h2 style="font-weight:200; margin:0px;" style="text-align:center;">
            Hospital Management System
          </h2>
        </div>

        <!-- Raw Links -->
        <div class="col-md-12 col-sm-12 clearfix ">
          <ul class="list-inline links-list pull-left">
            <!-- Language Selector -->
            <li><i class="entypo-right-circled"></i>nurse</li>
          </ul>

          <ul class="list-inline links-list pull-right">
            <li>
              <a [routerLink]="['/users']">
                <i class="fa fa-globe"></i> &nbsp;Website
              </a>
            </li>

            <li class="sep"></li>
            <li>
              <a href=""> Logout &nbsp;<i class="fa fa-sign-out"></i> </a>
            </li>
          </ul>
        </div>
      </div>
      <hr style="margin-top:0px;" />
      <h3 style="margin:20px 0px; color:#818da1; font-weight:200;" align="left">
        <i class="entypo-right-circled"></i>Bed
      </h3>
      <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" (click)="addNewBed()">
        <i class="fa fa-plus"></i>&nbsp;Add Bed</button><br /><br /><br />

      <input placeholder="enter search term here" class="form-control" />
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Bed Number</th>
            <th class="text-center">Ward</th>
            <th class="text-center">Bed Type</th>
            <th class="text-center">Description</th>
            <th class="text-center">Action</th>
            <th class="text-center">View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of beds | paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{ b.bed_Id }}</td>
            <td>{{ b.bedNumber }}</td>
            <td>{{ b.ward }}</td>
            <td>{{ b.bedType }}</td>
            <td>{{ b.description }}</td>
            <td>
              <button class="btn btn-info" (click)="editBed(b)"data-toggle="modal" data-target="#update">
                <span class="glyphicon glyphicon-edit"></span> Edit</button>&nbsp;&nbsp;&nbsp;
              <button class="btn btn-danger" (click)="deleteBed(b)">
                <span class="glyphicon glyphicon-trash"></span> Delete
              </button>
            </td>
            <td>
              <button>
                <span class="glyphicon glyphicon-file"></span> PDF
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Doctor</h4>
          </div>
          <div class="modal-body">

            Bed Number: <input type="text" class="form-control" [(ngModel)]="bed.bedNumber" />

            Ward:
            <select  class="form-control" [(ngModel)]="bed.ward">
              <option value="casuality">Casuality</option>
              <option value="General">General</option>
              <option value="ICU">ICU</option>
            </select>
            Type:
            <select  class="form-control" [(ngModel)]="bed.bedType">
              <option value="Manual Bed with Five Functions">Manual Bed with Five Functions</option>
              <option value="Electric Bed with Three Functions">Electric Bed with Three Functions</option>
              <option value="ICU Beds">ICU Beds</option>
              <option value="Hospital Bed Plain">Hospital Bed Plain</option>
              <option value="Hospital Bed with Backrest">Hospital Bed with Backrest</option>
              <option value="Hospital Bed with Four Section">Hospital Bed with Four Section</option>
            </select>
            Discription: <input type="text" class="form-control" [(ngModel)]="bed.description" />

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="saveBed(bed)" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


            <!-- edit -->
            <div id="update" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Details</h4>
                  </div>
                  <div class="modal-body">

                                Id: <input type="text" class="form-control" [disabled]=true [(ngModel)]="bed.bed_Id" />

                                Bed Number: <input type="text" class="form-control" [(ngModel)]="bed.bedNumber" />

                                Ward: <input type="text" class="form-control" [(ngModel)]="bed.ward" />

                                Type: <input type="text" class="form-control" [(ngModel)]="bed.bedType" />

                                Discription: <input type="text" class="form-control" [(ngModel)]="bed.description" />

                            </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="saveBed(bed)"
                      data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


  </div>
</div>
